In [19]:
import lorem
from stylometry import TextSample, TextDataset

# the stylometry package makes use of np.lib.stride_tricks and np.frombuffer
# and as a result requires numpy > 1.24 (note environment.yml

We can create TextSample instances from strings of text

In [23]:
sample_one , sample_two = lorem.paragraph() , lorem.paragraph()

x = TextSample(sample_one)
y = TextSample(sample_two, label = 1)

x.ngrams_freq

Te    0.002732
em    0.013661
mp    0.008197
po    0.013661
or    0.030055
        ...
is    0.002732
sc    0.002732
 u    0.002732
ut    0.002732
m.    0.002732
Length: 103, dtype: float64

In [24]:
x.ngrams_count

Te     1
em     5
mp     3
po     5
or    11
      ..
is     1
sc     1
 u     1
ut     1
m.     1
Length: 103, dtype: int32

The managed attribute .n and .label can be changed after instantiation

In [26]:
y.n = 6
y.label = 99

y.ngrams_count

Etinci    1
tincid    2
incidu    2
ncidun    2
cidunt    2
         ..
quia d    1
uia do    1
ia dol    1
olorem    1
lorem.    1
Length: 315, dtype: int32

In [33]:
y.ngrams_count

Etinci    1
tincid    2
incidu    2
ncidun    2
cidunt    2
         ..
quia d    1
uia do    1
ia dol    1
olorem    1
lorem.    1
Length: 315, dtype: int32

Usually, interest centres on a collection of text samples. For this, we can use TextDataset

In [37]:
dataset = TextDataset(x,y,n=3)
dataset.X

,Co,Do,Ei,Et,Ip,Ne,Nu,Po,Qu,Se,...,um,um.,umq,unt,upt,ur,us,ut,vel,vol
0,0.000000,0.005479,0.000000,0.005479,0.000000,0.00274,0.002740,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.002740,0.013699,0.002740,0.005479,0.005479,0.002740,0.008219,0.000000
1,0.002326,0.002326,0.002326,0.000000,0.002326,0.00000,0.002326,0.002326,0.002326,0.002326,...,0.011628,0.002326,0.004651,0.004651,0.006977,0.004651,0.002326,0.002326,0.004651,0.006977

In [38]:
dataset.Y

   label
0      0
1     99

There is little scientific consensus as to what length n-grams are most useful- this is heavily dependent on application, language and text preprocessing.
Some authors have shown that, for English Language, supervised learning tasks concerned with authorship attribution, n>5 or n>7 seems to work best and that
if the symbol set consists only of letters and digits (no punctuation or other symbols) still larger n-grams are needed to attain useful results. 

The TextDataset class allows the data to be expressed can be adjusted dymanically, as before.

In [44]:
dataset(n=4, counts=True, most_frequent=10)
dataset.X

   olor  quam  dolo   dol  uam   lore  ore    qui  ncid  tinc
0     6     6     4     4     5     5     4     2     5     5
1     9     7     8     8     7     4     5     6     2     2

In [45]:
dataset(n=2, counts=False, most_freq=15)
dataset.X

,C,D,E,I,N,P,Q,S,U,V,...,ue,ui,um,un,up,ur,us,ut,ve,vo
0,0.00000,0.005464,0.005464,0.00000,0.005464,0.00000,0.00000,0.00000,0.00000,0.002732,...,0.002732,0.010929,0.002732,0.013661,0.002732,0.005464,0.005464,0.002732,0.008197,0.000000
1,0.00232,0.002320,0.002320,0.00232,0.002320,0.00232,0.00232,0.00232,0.00232,0.000000,...,0.004640,0.023202,0.018561,0.004640,0.006961,0.004640,0.002320,0.002320,0.004640,0.006961